<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs743.uwmparkingfinder.UI">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".ViewParkingMenuActivity"
            android:label="@string/activityViewParkingMenuTitle" />
        <activity
            android:name=".NotAvailableActivity"
            android:label="@string/activityNotAvailableTitle" />
        <activity
            android:name=".SelectParkingOptionsActivity"
            android:label="@string/activitySelectParkingOptionsTitle" />
        <activity
            android:name=".RecommendParkingActivity"
            android:label="@string/activityRecommendParkingTitle" />
        <activity
            android:name=".MonitorParkingLotActivity"
            android:label="@string/activityMonitorParkingTitle" />
        <activity
            android:name=".MonitorParkingSpotStatusActivity"
            android:label="@string/activityMonitorParkingSpotStatusTitle" />
        <activity
            android:name=".SimpleLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_simple_login"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs743.uwmparkingfinder.Archive.EditPreferencesActivity"
            android:label="@string/activityEditPreferencesTitle"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ConclusionActivity"
            android:label="@string/activityConclusionTitle"></activity>
        <activity
            android:name=".Preferences"
            android:label="@string/title_activity_preferences"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
